html {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: #f0f0f2;
    padding: 20px;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

#headerTitle{
  padding: 10px;
}

.mainDiv{
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 1em;
}

#rankingDiv {
  width: 100%;
  float: left;
  padding: 20px;
}

#barchart{
  width: 100%;
}


#pcpContainer {
  width: 50%;
  float: left;
  padding: 20px;
}

#pcpDiv{
  width : 100%;
}

.parallelCoordinateLine{
  opacity: 0.5;
  width: 200%;
}

.parallelCoordinateLine:hover{
  opacity: 1;
  width: 1000%;
}

.bar{
  opacity: 0.6;
}

.bar:hover {
  opacity: 1;
}

#thanksTo{
  font-size: small;
  margin-top: 20px;
  padding: 10px;
}

label {
  border: 1px solid #f0f0f2;
  padding: 10px;
  margin:0 0 5px;
  background: #eeeeee;
  border-radius: 5px;
}

label:hover {
  background:rgb(202, 202, 202);
  cursor:pointer;
  opacity: 0.8;
}

#gesamtwertungLabel{
  background: #82006E;
  color: white;
}

#orderLabel{
  float: right;
}

#thanksToDiv{
  width: 100%;
  float: left;
}

