html {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: #f0f0f2;
    padding: 20px;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

#headerTitle{
  padding: 10px;
}

.mainDiv{
  margin: 0.5em auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 1em;
}

#rankingDiv {
  width: 100%;
  float: left;
  padding: 20px;
}


#my_dataviz {
  width: 100%;
  float: left;
  padding: 20px;
}

.parallelCoordinateLine{
  opacity: 0.5;
  width: 200%;
}

.parallelCoordinateLine:hover{
  opacity: 1;
  width: 600%;
}

.bar{
  opacity: 0.6;
}

.bar:hover {
  opacity: 1;
}

#thanksTo{
  font-size: small;
  margin-top: 20px;
  padding: 10px;
}

label {
  border: 1px solid #f0f0f2;
  padding: 10px;
  margin:0 0 5px;
  background: #eeeeee;
  border-radius: 5px;
}

